# LiveKit Server
LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=

# Deepgram (for STT)
DEEPGRAM_API_KEY=

# Agent config
TRANSCRIPT_AGENT_NAME=viewpro-transcript-agent

# Client config
CLIENT_NAME=Client
